.center{
    width:30%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.centerTable{
    width:80%;
    margin:auto;
}

.divStyle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}